* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Open Sans";
}

/* general */

.container {
  max-width: 1000px;
  margin: 0 auto;
}


* {
  font-family: "Open Sans";
}

/* general */

.myContainer {
  max-width: 1000px;
  margin: 0 auto;
}